:host {
    display: block;
    width: 636px;
    background-color: #F2F2F2;
    font-family: 'Noah', serif;

    .player {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 24px;

        .info {
            width: 636px;
            height: 180px;

            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0;
            gap: 20px;

            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;

            .cover {
                width: 160px;
                height: 180px;

                background: url(https://thumb.canalplus.pro/http/unsafe/414x/smart/creativemedia-image.canalplus.pro/content/0001/41/3b0571e4ca45fccdda6f787496f721435a03464d.jpeg);
                background-size: cover;

                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            .content {
                width: 456px;
                height: 180px;

                /* Auto layout */
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 16px 0 0;
                gap: 4px;

                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 1;

                .main {
                    width: 456px;
                    height: 80px;
                    color: #0D0D0D;

                    /* Auto layout */
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px 20px 0px 0px;
                    gap: 4px;

                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 1;

                    .title {
                        width: 100%;
                        height: 25px;

                        font-weight: 700;
                        font-size: 20px;
                        line-height: 25px;
                        /* identical to box height */

                        /* Inside auto layout */
                        flex: none;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;
                    }

                    .artist {
                        width: 100%;
                        height: 22px;

                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;

                        /* Inside auto layout */
                        flex: none;
                        order: 1;
                        align-self: stretch;
                        flex-grow: 0;
                    }

                    .album {
                        width: 100%;
                        height: 22px;

                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;

                        /* Inside auto layout */
                        flex: none;
                        order: 2;
                        align-self: stretch;
                        flex-grow: 0;
                    }
                }

                .detail {
                    width: 456px;
                    height: 80px;

                    /* Auto layout */
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    padding: 0px;
                    gap: 24px;

                    /* Inside auto layout */
                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 1;

                    .song-detail {
                        height: 80px;

                        /* Auto layout */
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-start;
                        padding: 0;
                        gap: 2px;

                        /* Inside auto layout */
                        flex: none;
                        align-self: stretch;
                        flex-grow: 0;

                        .label {
                            width: 50px;
                            height: 15px;

                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 15px;
                            /* identical to box height */

                            /* Inside auto layout */
                            flex: none;
                            flex-grow: 0;
                        }

                        .value-wrapper {
                            /* Auto layout */
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0px;
                            gap: 4px;

                            /* Inside auto layout */
                            flex: none;
                            flex-grow: 0;

                            .btn-min, .btn-plus {
                                width: 23px;
                                height: 36px;
                                box-sizing: border-box;
                                cursor: pointer;

                                background: #0D0D0D;
                                color: #FFFFFF;
                                border-radius: 8px;

                                /* Auto layout */
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                padding: 8px;
                                gap: 10px;

                                /* Inside auto layout */
                                flex: none;
                                flex-grow: 0;

                                &.disabled {
                                    background-color: grey;
                                    cursor: default;
                                }
                            }

                            .value {
                                width: 47px;
                                height: 44px;
                                box-sizing: border-box;
                                background: #FFFFFF;
                                border-radius: 8px;

                                /* Auto layout */
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                padding: 12px;
                                gap: 10px;

                                .text {
                                    width: 23px;
                                    height: 20px;

                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 20px;
                                    /* identical to box height */

                                    text-align: center;

                                    /* Back to Black */

                                    color: #0D0D0D;


                                    /* Inside auto layout */

                                    flex: none;
                                    order: 0;
                                    flex-grow: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .commands {
            width: 100%;
            height: 76px;
            box-sizing: border-box;

            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 16px;
            gap: 12px;

            /* Inside auto layout */
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;

            .buttons {
                width: 100%;
                height: 48px;
                box-sizing: border-box;

                /* Auto layout */
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 44px;
                gap: 38px;

                /* Inside auto layout */
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;

                button[disabled] {
                    color: lightgrey;
                }

                .activable {
                    .active {
                        color: #5D5FEF;
                    }
                }

                .clickable {
                    #play-button {
                        background-color: black;
                        color: white;
                        box-shadow: none;

                        &[disabled] {
                            color: grey;
                        }
                    }
                }

                .volume {
                    /* Auto layout */
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0px;
                    gap: 8px;

                    mat-icon {

                    }

                    app-ui-progress-bar {
                        display: block;
                        width: 100px;
                    }
                }
            }

            .progress {
                width: 100%;
                height: 16px;
                box-sizing: border-box;

                /* Auto layout */
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0 16px;
                gap: 12px;

                /* Inside auto layout */
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;

                .timer {
                    font-weight: 700;
                }

                app-ui-progress-bar {
                    display: block;
                    height: 100%;

                    flex: none;
                    flex-grow: 1;
                }
            }
        }
    }


    .tracks {
        width: 100%;

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 24px;
        box-sizing: border-box;

        /* Inside auto layout */
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;

        app-stem-player {
            display: block;
            width: 100%;
        }
    }
}

.speed-container {
    position: relative;
    height: 25px;
    width: 400px;
    background-color: grey;

    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

    .filler-1 {
        position: absolute;
        top: 0;
        left: 12.5%;
        height: 100%;
        width: 12.5%;
        background-color: papayawhip;
    }
    .filler-2 {
        position: absolute;
        top: 0;
        left: 25%;
        height: 100%;
        width: 75%;
        background-color: palegoldenrod;
    }

    .speed-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: red;
        opacity: 0.66;
        border-right: solid 1px yellow;

        &.dragged {
            background-color: blue;
        }
    }
}
