<div class="player">
    <div class="info">
        <div class="cover" [style.background-image]="coverUrl"></div>
        <div class="content">
            <div class="main">
                <div class="title">{{track?.title}}</div>
                <div class="artist">{{track?.artists?.join(', ')}}</div>
                <div class="album">{{albumDisplay}}</div>
            </div>
            <div class="detail">
                <ng-template #trackDetail
                             let-label="label"
                             let-showButtons="showButtons"
                             let-disableMinButton="disableMinButton"
                             let-disablePlusButton="disablePlusButton"
                             let-value="value">
                    <div class="track-detail">
                        <div class="label">{{label}}</div>
                        <div class="value-wrapper">
                            <button *ngIf="showButtons"
                                    class="btn-min"
                                    mat-icon-button
                                    [disabled]="disableMinButton"
                                    (click)="onButtonClick(label, -1)">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <div class="value"><div class="text">{{value}}</div></div>
                            <button *ngIf="showButtons"
                                    class="btn-plus"
                                    mat-icon-button
                                    [disabled]="disablePlusButton"
                                    (click)="onButtonClick(label, 1)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        <div class="reset" (click)="onReset(label)">reset</div>
                    </div>
                </ng-template>
                <ng-container  [ngTemplateOutlet]="trackDetail"
                               [ngTemplateOutletContext]="{
                                   disableMinButton: speed <= SPEED_MIN,
                                   disablePlusButton: speed >= SPEED_MAX,
                                   label: 'BPM',
                                   showButtons: true,
                                   value: bpmDisplay}">
                </ng-container>
                <ng-container  [ngTemplateOutlet]="trackDetail"
                               [ngTemplateOutletContext]="{
                                   disableMinButton: pitch <= PITCH_MIN,
                                   disablePlusButton: pitch >= PITCH_MAX,
                                   label: 'Key',
                                   showButtons: true,
                                   value: pitchDisplay}">
                </ng-container>
            </div>
        </div>
    </div>

    <div class="commands">
        <div class="buttons">
            <div class="activable">
                <button mat-icon-button disabled>
                    <mat-icon>text_fields</mat-icon>
                </button>
                <button mat-icon-button
                        [ngClass]="{active: loopActivated}"
                        (click)="loopActivated = !loopActivated">
                    <mat-icon>loop</mat-icon>
                </button>
                <button mat-icon-button
                        [ngClass]="{active: shuffleActivated}"
                        (click)="shuffleActivated = !shuffleActivated">
                    <mat-icon>shuffle</mat-icon>
                </button>
            </div>
            <div class="clickable">
                <button mat-icon-button
                        (click)="onPrev()">
                    <mat-icon>skip_previous</mat-icon>
                </button>
                <button mat-fab id="play-button" (click)="playPause()" [disabled]="!ready">
                    <mat-icon>{{paused ? 'play_arrow' : 'pause'}}</mat-icon>
                </button>
                <button mat-icon-button
                        (click)="onNext()">
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
            <div class="volume">
                <mat-icon>speaker</mat-icon>

                <app-ui-slider
                    [emitSeekOnDrag]="true"
                    [emitSeekOnWheel]="true"
                    [hasButton]="true"
                    [seek]="volume"
                    (progress)="onVolumeProgress($event)"
                ></app-ui-slider>
            </div>
        </div>
        <div class="progress">
            <div class="timer">{{duration * progress / speed | date: 'mm:ss'}}</div>
            <app-ui-slider
                [emitSeekOnDrag]="true"
                [hasButton]="true"
                [scrollGranularity]="duration ? (1000 / duration * 5) : 0"
                [seek]="dragData ? dragData.progress : progress"
                (progress)="onProgressBarChange($event)"
            ></app-ui-slider>
            <div class="timer">{{duration / speed | date:'mm:ss'}}</div>
        </div>

    </div>
</div>
<ng-scrollbar [autoHeightDisabled]="false">
<div class="tracks">
        <app-stem-player
            *ngFor="let key of Object.keys(stemPlayers)"
            [dragData]="dragData"
            [iconName]="stemPlayers[key].iconName"
            [progress]="progress"
            [soloMode]="soloMode"
            [stem]="stemPlayers[key].stem"
            [title]="key"
            [trackFilename]="track?.filename || ''"
            (dragStatus)="onDragEvent($event)"
            (loaded)="onTrackLoaded(key)"
            (progressChange)="onProgressChange($event)"
            (clickSolo)="onSolo($event)">
        </app-stem-player>
</div>
</ng-scrollbar>
