<app-track
    [dragData]="dragData"
    [newTime]="newTime"
    [title]="'Drums'"
    [url]="getDrumsUrl()"
    (dragStatus)="onDragEvent($event)"
    (timeChange)="onTimeChange($event)">
</app-track>
<app-track
    [dragData]="dragData"
    [newTime]="newTime"
    [title]="'Piano'"
    [url]="getPianoUrl()"
    (dragStatus)="onDragEvent($event)"
    (timeChange)="onTimeChange($event)">
</app-track>
<app-track
    [dragData]="dragData"
    [newTime]="newTime"
    [title]="'Bass'"
    [url]="getBassUrl()"
    (dragStatus)="onDragEvent($event)"
    (timeChange)="onTimeChange($event)">
</app-track>
<app-track
    [dragData]="dragData"
    [newTime]="newTime"
    [title]="'Vocals'"
    [url]="getVocalsUrl()"
    (dragStatus)="onDragEvent($event)"
    (timeChange)="onTimeChange($event)">
</app-track>
<app-track
    [dragData]="dragData"
    [newTime]="newTime"
    [title]="'Other'"
    [url]="getOtherUrl()"
    (dragStatus)="onDragEvent($event)"
    (timeChange)="onTimeChange($event)">
</app-track>

<button id="play-button" (click)="playPause()">{{paused ? 'PLAY' : 'PAUSE'}}</button>
