:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 636px;
    height: 100%;
    min-width: 636px;
    background-color: #F2F2F2;
    font-family: 'Noah', serif;
    overflow: hidden;

    .player {
        width: 100%;

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 24px;

        .info {
            height: 180px;

            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0;
            gap: 20px;

            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;

            .cover {
                width: 160px;
                height: 180px;

                background-size: cover;
                background-position: center;

                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
            }

            .content {
                width: 100%;

                /* Auto layout */
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 16px 0 0;
                gap: 4px;

                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 1;

                .main {
                    width: 456px;
                    height: 80px;
                    color: #0D0D0D;

                    /* Auto layout */
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px 20px 0px 0px;
                    gap: 4px;

                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 1;

                    .title {
                        width: 100%;
                        height: 25px;

                        font-weight: 700;
                        font-size: 20px;
                        line-height: 25px;
                        /* identical to box height */

                        /* Inside auto layout */
                        flex: none;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;
                    }

                    .artist {
                        width: 100%;
                        height: 22px;

                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;

                        /* Inside auto layout */
                        flex: none;
                        order: 1;
                        align-self: stretch;
                        flex-grow: 0;
                    }

                    .album {
                        width: 100%;
                        height: 22px;

                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;

                        /* Inside auto layout */
                        flex: none;
                        order: 2;
                        align-self: stretch;
                        flex-grow: 0;
                    }
                }

                .detail {
                    width: 100%;

                    /* Auto layout */
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    padding: 0px;
                    gap: 24px;

                    /* Inside auto layout */
                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 1;

                    .track-detail {
                        /* Auto layout */
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-start;
                        padding: 0;
                        gap: 2px;

                        /* Inside auto layout */
                        flex: none;
                        align-self: stretch;
                        flex-grow: 0;

                        .label {
                            width: 100%;
                            height: 15px;

                            text-align: center;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 15px;
                            /* identical to box height */

                            /* Inside auto layout */
                            flex: none;
                            flex-grow: 0;
                        }

                        .value-wrapper {
                            /* Auto layout */
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 0;
                            gap: 4px;

                            /* Inside auto layout */
                            flex: none;
                            flex-grow: 0;

                            .btn-min, .btn-plus {
                                width: 24px;
                                height: 24px;
                                padding: 0;
                                background: #5D5FEF;
                                color: #FFFFFF;

                                /* Inside auto layout */
                                flex: none;
                                flex-grow: 0;

                                &[disabled] {
                                    background-color: transparent;
                                    border: 1px solid black;
                                    color: black;

                                    .mat-icon {
                                        margin: -1px 0 0 -1px;
                                    }
                                }

                                .mat-icon {
                                    transform: scale(0.66);
                                }
                            }

                            .value {
                                width: 47px;
                                height: 36px;
                                box-sizing: border-box;
                                background: #FFFFFF;
                                border-radius: 8px;

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .text {
                                    height: 20px;
                                    margin: 0 auto;

                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 20px;
                                    /* identical to box height */

                                    text-align: center;

                                    /* Back to Black */

                                    color: #0D0D0D;
                                }
                            }
                        }

                        .reset {
                            width: 100%;
                            height: 15px;
                            cursor: pointer;

                            text-align: center;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            /* identical to box height */

                            /* Inside auto layout */
                            flex: none;
                            flex-grow: 0;
                        }
                    }
                }
            }
        }

        .commands {
            width: 100%;
            height: 76px;
            box-sizing: border-box;

            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 16px;
            gap: 12px;

            /* Inside auto layout */
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;

            .buttons {
                width: 100%;
                height: 48px;
                box-sizing: border-box;

                /* Auto layout */
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 44px;
                gap: 38px;

                /* Inside auto layout */
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;

                button[disabled] {
                    color: lightgrey;
                }

                ::ng-deep [mat-icon-button]  {
                    width: 30px;
                    height: 30px;
                    padding: 3px;
                    --mat-mdc-button-persistent-ripple-color: grey;
                    --mat-mdc-button-ripple-color: rgba(128, 128, 128, 0.1);

                    .mat-mdc-button-touch-target {
                        width: 100%;
                        height: 100%;
                    }
                }

                .activable {
                    .active {
                        color: #5D5FEF;
                    }
                }

                .clickable {

                    #play-button {
                        background-color: transparent;
                        color: black;
                        box-shadow: none;
                        border: 2px solid #0D0D0D;

                        &[disabled] {
                            color: grey;
                            border-color: grey;
                        }
                    }
                }

                .volume {
                    /* Auto layout */
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0;
                    gap: 8px;

                    app-ui-slider {
                        display: block;
                        width: 100px;
                        --color: #A5A6F6;
                        --button-color: #5D5FEF;
                        --drag-color: #5D5FEF;
                        --progress-color: #5D5FEF;
                    }
                }
            }

            .progress {
                width: 100%;
                height: 16px;
                box-sizing: border-box;

                /* Auto layout */
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0 16px;
                gap: 12px;

                /* Inside auto layout */
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;

                .timer {
                    width: 37px;
                    font-weight: 700;
                }

                app-ui-slider {
                    display: block;
                    height: 100%;
                    --color: #DAC4CF;
                    --drag-color: #f32071;
                    --button-color: #FA5485;
                    --button-border-style: solid;
                    --button-border-color: #EAEEF4;
                    --button-border-width: 2px;

                    flex: none;
                    flex-grow: 1;
                }
            }
        }
    }

    ng-scrollbar {
        width: 100%;
    }

    .tracks {
        width: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 24px;
        box-sizing: border-box;

        /* Inside auto layout */
        flex: auto;
        flex-shrink: 1;
        order: 2;

        app-stem-player {
            display: block;
            width: 100%;
        }

    }
}
