<div class="progress-bar">
    <div #container
         class="progress-container"
         [ngClass]="{faded: faded, dragged: !!progressStatus.rect && wheeling !== -1}"
         (mousedown)="onMouseDown($event, container)">
        <div #progress class="progress"
             [ngClass]="{dragged: !!progressStatus.rect}"
             [style.transform]="'scaleX(' + progressStatus.progress + ')'">

        </div>
        <div *ngIf="hasButton"
             #button
             class="button"
             [ngClass]="{dragged: !!progressStatus.rect && !wheeling}"
             [style.transform]="'translateX(' + progressStatus.progress * container.offsetWidth + 'px)'"
        ></div>
    </div>
</div>
