:host {
    --this-heigth: 4px;
    --this-color: var(--color, grey);
    --this-progress-color: var(--progress-color, #FA5485);
    --this-drag-color: var(--drag-color, blue);
    --this-button-heigth: 8px;
    --this-button-color: var(--button-color, white);
    --this-button-border-style: var(--button-border-style, none);
    --this-button-border-color: var(--button-border-color, white);
    --this-button-border-width: var(--button-border-width, 0px);
}

.progress-bar {
    /* Level - TimeLine */
    width: 100%;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    .progress-container {
        position: relative;
        width: 100%;
        height: var(--this-heigth);
        margin-top: 4px;
        border-radius: 10px;
        background-color: var(--this-color);
        cursor: pointer;

        &.faded {
            background-color: grey;
        }

        &.dragged {
            cursor: ew-resize;
        }

        .progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: scaleX(0);
            transform-origin: left;
            background-color: var(--this-progress-color);
            border-radius: 10px;

            &.dragged {
                background-color: var(--this-drag-color);
            }
        }

        .button {
            position: absolute;
            height: var(--this-button-heigth);
            width: var(--this-button-heigth);
            top: calc((var(--this-button-heigth) / -2) + (var(--this-heigth) / 2) - var(--this-button-border-width));
            left: -6px;
            border-radius: 32px;
            border-style: var(--this-button-border-style);
            border-color: var(--this-button-border-color);
            border-width: var(--this-button-border-width);
            background-color: var(--this-button-color);
            cursor: grab;

            &.grabbing {
                cursor: grabbing;
            }
        }
    }
}
