<div #container
     class="progress-container"
     role="slider"
     [attr.aria-label]="ariaLabel"
     aria-orientation="horizontal"
     tabindex="0"
     aria-valuemin="0"
     aria-valuemax="100"
     [attr.aria-valuetext]="getAriaValueText(duration, progressStatus)"
     [ngClass]="{
        faded: faded,
        dragged: !!progressStatus.rect && wheeling !== -1
     }">
    <div class="progress"
         [ngClass]="{dragged: !!progressStatus.rect}"
         [style.transform]="'scaleX(' + progressStatus.progress + ')'">

    </div>
    <div *ngIf="hasButton"
         class="button"
         [ngClass]="{dragged: !!progressStatus.rect && !wheeling}"
         [style.transform]="'translateX(' + progressStatus.progress * container.offsetWidth + 'px)'"
    ></div>
</div>
