<div>
    {{title}}<br>
    <audio #audioTrack
           class="track"
           [src]="url"
           type="audio/mp3"
           preload="auto">
    </audio>
    <div #canvasContainer class="canvas-container"
         [ngClass]="{muted: muted}"
         (mousedown)="onCanvasMouseDown($event, canvasContainer)">
        <canvas></canvas>
        <div #canvasProgress
             class="canvas-progress"
             [ngClass]="{dragged: !!dragData}"
             [style.width.%]="dragData ? dragData.newWidth / dragData.offsetWidth * 100 : progressWidth"></div>
    </div>
    <button class="mute-button" (click)="mute()">{{muted ? 'UNMUTE' : 'MUTE'}}</button>
</div>
<div class="counter">{{currentTime}}</div>
