<div>
    {{title}}<br>
    <div #canvasContainer class="canvas-container"
         [ngClass]="{muted: muted}"
         (mousedown)="onCanvasMouseDown($event, canvasContainer)">
        <canvas #canvas></canvas>
        <div #canvasProgress
             class="canvas-progress"
             [ngClass]="{dragged: !!dragData, loading: loading}"
             [style.width.%]="dragData ? dragData.newWidth / dragData.offsetWidth * 100 : progressWidth"></div>
    </div>
    <button class="mute-button" (click)="mute()">{{muted ? 'UNMUTE' : 'MUTE'}}</button>
    <button class="solo-button" (click)="onSolo()">SOLO</button>
    <div #volumeContainer
         class="volume-container"
         (mousedown)="onVolumeMouseDown($event, volumeContainer)">
        <div #volumeProgress
             class="volume-progress"
             [ngClass]="{dragged: !!volumeStatus.rect}"
             [style.width.%]="volumeStatus.volume * 100">
        </div>
    </div>
</div>
<div class="counter">{{currentTime | number : '2.3-3'}}</div>
