.track {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;

    .title {
        width: 100%;
        height: 22px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 8px;

        font-family: 'Noah', serif;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */


        /* Back to Black */
        color: #0D0D0D;
    }

    .main {
        width: 100%;
        height: 78px;

        /* Auto layout */

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 24px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;

        .left {
            width: 92px;
            height: 78px;

            /* Auto layout */

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;


            /* Inside auto layout */

            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;

            .top-left {
                /* Auto layout */

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0;
                gap: 24px;

                height: 56px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;

                app-ui-balance-button {
                    display: block;
                    width: 56px;
                    height: 56px;
                }


                button[mat-fab] {
                    width: 56px;
                    height: 56px;

                    box-shadow: none;
                    background-color: white;
                    color: black;
                }

                .small-buttons {
                    /* Auto layout */

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 8px;

                    width: 24px;
                    height: 56px;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 1;

                    button {
                        width: 24px;
                        height: 24px;

                        /* Inside auto layout */
                        flex: none;
                        order: 0;
                        flex-grow: 0;

                        background-color: transparent;
                        color: black;
                        box-shadow: none;
                        border: 1px solid black;

                        &.mute {
                            top: 0;
                        }
                        &.solo {
                            bottom: 0;
                        }

                        &.active {
                            background-color: #5D5FEF;
                            color: white;
                            border: none;
                        }

                        &.dimmed {
                            background-color: transparent;
                            color: #5D5FEF;
                            box-shadow: none;
                            border: 1px solid #5D5FEF;
                        }

                        mat-icon {
                            width: 12px;
                            height: 12px;
                            display: block;
                        }

                        ::ng-deep .mat-mdc-button-touch-target {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            app-ui-slider {
                /* Level - TimeLine */
                width: 92px;
                --color: #A5A6F6;
                --button-color: #5D5FEF;
                --drag-color: #5D5FEF;
                --progress-color: #5D5FEF;

                /* Inside auto layout */
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
            }
        }

        .progress-container {
            width: 100px;
            height: 78px;
            background: #FFFFFF;
            border-radius: 8px;
            position: relative;
            cursor: pointer;

            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            gap: 16px;

            /* Inside auto layout */
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 1;

            svg {
                width: 100px;
                height: 32px;

                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 1;

                path {
                    stroke: black;
                }
            }

            .progress-bar {
                width: 0;
                height: 100%;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                position: absolute;
                overflow: hidden;
                background-color: white;
                display: flex;
                align-items: center;

                &.loading {
                    background-color: yellow;
                    opacity: 10%;
                }

                canvas, svg {
                    height: 32px;
                    margin: auto 0;

                    path {
                        stroke: url(#MyGradient);

                        &.dragged {
                            stroke: blue;
                        }
                    }
                }
            }
        }
    }
}
