<div class="track">
    <div class="title">
        <b>{{title}} -</b> {{stem?.sourceName}}
    </div>
    <div class="main">
        <div class="left">
            <div class="top-left">
                <button mat-fab disabled>
                    <mat-icon [svgIcon]="iconName"></mat-icon>
                </button>
                <div class="small-buttons">
                    <button mat-mini-fab
                            class="mute"
                            [class.active]="muted && !solo"
                            [class.dimmed]="muted && solo"
                            (click)="onMute()">
                        <mat-icon svgIcon="m"></mat-icon>
                    </button>
                    <button mat-mini-fab
                            class="solo"
                            [class.active]="solo"
                            (click)="onSolo()">
                        <mat-icon svgIcon="s"></mat-icon>
                    </button>
                </div>
            </div>
            <app-ui-progress-bar
                [emitSeekOnDrag]="true"
                [emitSeekOnWheel]="true"
                [faded]="muted"
                [hasButton]="true"
                [seek]="volume"
                (progress)="onVolumeProgress($event)"
            ></app-ui-progress-bar>
        </div>
        <div #progressContainer class="progress-container"
             (mousedown)="onCanvasMouseDown($event, progressContainer)">
<!--            <canvas #progressCanvas class="progress-canvas"></canvas>-->
            <svg viewBox="0 0 377 32" preserveAspectRatio="none"><path #path></path></svg>
            <div class="progress-bar"
                 [ngClass]="{loading: loading}"
                 [style.width.%]="dragData ? dragData.progress * 100 : progress * 100">
                <svg viewBox="0 0 377 32" preserveAspectRatio="none"
                     [style.width.px]="progressContainer.offsetWidth">
                    <path #path2 [ngClass]="{dragged: !!dragData}"></path>
                    <defs>
                        <linearGradient id="MyGradient" gradientTransform="rotate(90)">
                            <stop offset="0%" stop-color="#F95B98" />
                            <stop offset="100%" stop-color="#FA4D71" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>

<!--        <div class="counter">{{currentTime | number : '2.3-3'}}</div>-->
