:host {
    height: 100vh;
    display: flex;
    flex-direction: row;

    app-player {
        height: 100%;
        flex: auto 1 0;
    }

    .list {
        flex: 400px 0 0;

        li.active {
            color: red;
        }
    }
}
