<div #list>
    <ul *ngIf="!loading">
        <li *ngFor="let song of songs">
            {{song.artist}} - {{song.title}}
            <button *ngIf="song.processed" (click)="loadSong(song)">Load</button>
            <ng-container *ngIf="!song.processed"> (...processing...)</ng-container>
        </li>
        <button (click)="addSong()">Add</button>
        <button (click)="refresh()">Refresh</button>
    </ul>
    <p *ngIf="loading">loading...</p>
</div>
<app-player *ngIf="selectedSong" [song]="selectedSong"></app-player>
