<app-player *ngIf="selectedTrack"
            [track]="selectedTrack"
            (next)="onNext($event)"
            (prev)="onPrev()"
></app-player>
<div class="list">
    <ul *ngIf="!loading">
        <li *ngFor="let track of tracks" [ngClass]="{active: track === selectedTrack}">
            {{track.artists.join(', ')}} - {{track.title}}
            <button *ngIf="track.status === TrackStatus.READY" (click)="loadTrack(track)">Load</button>
            <ng-container *ngIf="track.status === TrackStatus.PROCESSING"> (.-.processing.-.)</ng-container>
            <ng-container *ngIf="track.status === TrackStatus.IDLE"> (-idle-)</ng-container>
            <ng-container *ngIf="track.status === TrackStatus.QUEUED"> (.-queued-.)</ng-container>
            <ng-container *ngIf="track.status === TrackStatus.ERROR"> (x error x)</ng-container>
        </li>
        <button (click)="addTrack()">Add</button>
        <button (click)="refresh()">Refresh</button>
    </ul>
    <p *ngIf="loading">loading...</p>
</div>
